@using Domain.ProjectLogics
@model Flow

@{
    Layout = null;
    ViewData["Title"] = $"Flow {Model.Id}";
}

<!DOCTYPE html>

<html class="h-100" lang="">
<head>
    <title>@ViewData["Title"]</title>
</head>
<body class="h-100">
<div class="modal" id="pausedFlowModal" data-bs-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Flow paused by facilitator!
            </div>
            <div class="modal-footer">
                <button class="btn-secondary mt-auto mb-auto h-25 m-5" id="btnUnPauseFlow">Back To Flow</button>
            </div>
        </div>
    </div>
</div>
<div class="row-gap-sm-4 h-75">
    <h1><span id="flowtype">@Model.FlowType.ToString()</span> Flow <span id="flowId">@Model.Id</span> - Step <span id="stepNr"></span> / <span id="steptotal">@Model.getStepCount()</span></h1>

    <p>Theme <span id="theme">@Model.Theme.Id</span> - @Model.Theme.Subject</p>
    <div class="d-flex justify-content-center h-100">
        <div class="row-cols-md-3 mb-3 text-start" id="informationContainer">
        </div>
        <div class="row-cols-md-3 mb-3 d-block justify-content-center" id="questionContainer">

        </div>
    </div>
</div>
<footer class="row-gap-sm-4 h-25 justify-content-center d-flex">
    <button class="btn-primary mt-auto mb-auto h-25 m-5" id="btnNextStep">Next step</button>
    <button class="btn-secondary mt-auto mb-auto h-25 m-5" id="btnRestartFlow">Restart flow</button>
    <button class="btn-secondary mt-auto mb-auto h-25 m-5" id="btnPauseFlow">Pause flow</button>
    @if (Model.Theme.GetType() == typeof(SubTheme))
    {
        <div class="mt-auto mb-auto m-5">
            <a class="btn-close h-50" id="butExitFlow" asp-area="" asp-controller="SubTheme" asp-action="SubTheme" asp-route-id="@Model.Theme.Id"></a>
            <span>Exit</span>
        </div>
    }
    else
    {
        <div class="mt-auto mb-auto m-5">
            <a class="btn-close h-50" id="butExitFlow" asp-area="" asp-controller="MainTheme" asp-action="MainTheme" asp-route-id="@Model.Theme.Id"></a>
            <span>Exit</span>
        </div>
    }

    <div style="position: absolute; bottom: 0; right: 0;">
        <div class="mt-auto mb-auto m-0">
            <p>Want more info?</p>
            <input type="email" class="mt-auto mb-auto m-0" id="inputEmail" placeholder="Enter your email">
        </div>
        
        @* <script> *@
        @*     var inputElement = document.getElementById("inputEmail"); *@
        @*       if (inputElement !== "") { *@
        @*         inputElement.value = "New Text Content"; *@
        @*     } else { *@
        @*         console.error("Element with ID 'inputEmail' not found!"); *@
        @*     } *@
        @* </script> *@

    </div>
</footer>
</body>
</html>


<script src="/dist/step.entry.js" defer></script>
<link rel="stylesheet" href="~/dist/site.css"/>