@using Domain.ProjectLogics
@model Flow

@{
    Layout = null;
    ViewData["Title"] = $"Flow {Model.Id}";
}

<!DOCTYPE html>

<html lang="">
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
<h1><span id="flowtype">@Model.FlowType.ToString()</span> Flow <span id="flowId">@Model.Id</span> - Step <span id="stepNr"></span> / <span id="steptotal">@Model.getStepCount()</span></h1>

<p>Theme <span id="theme">@Model.Theme.Id</span> - @Model.Theme.Subject</p>
<div>
    <div class="container" id="informationContainer">
    </div>
    <div class="container d-block" id="questionContainer">
        
    </div>
</div>
</body>
<footer>
    <button id="btnNextStep">Next step</button>
    <button id="btnRestartFlow">Restart flow</button>
    @if (Model.Theme.GetType() == typeof(SubTheme))
    {
        <a class="nav-item" id="butExitFlow" asp-area="" asp-controller="SubTheme" asp-action="SubTheme" asp-route-id="@Model.Theme.Id">Exit flow</a>
    }
    else
    {
        <a class="nav-item" id="butExitFlow" asp-area="" asp-controller="MainTheme" asp-action="MainTheme" asp-route-id="@Model.Theme.Id">Exit flow</a>
    }
    
</footer>
</html>

    
<script src="/dist/step.entry.js" defer></script>