@using Domain.ProjectLogics
@model Flow

@{
    Layout = null;
    ViewData["Title"] = $"Flow {Model.Id}";
}

<!DOCTYPE html>
<!--Author Elias De Hondt-->
<html class="h-100" lang="">
<head>
    <!--Meta + Title-->
    <title>Kiosk - @ViewData["Title"]</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--Meta + Title-->
    <!--CSS-->
    <link rel="stylesheet" href="~/dist/site.css"/>
    <!--CSS-->
</head>
<body class="kiosk-background-colors-scheme kiosk-body">
<div class="kiosk-top-left">
    <div class="kiosk-container-top-left">
        <h1><span id="flowtype">@Model.FlowType.ToString()</span> Flow <span id="flowId">@Model.Id</span> - Step <span id="stepNr"></span> / <span id="stepTotal">@Model.getStepCount()</span></h1>
        <p>Theme <span id="theme">@Model.Theme.Id</span> - @Model.Theme.Subject</p>
    </div>
</div>
<div class="kiosk-top-right">
    <img class="kiosk-logo-img" src="/favicon.ico" alt="Logo"/>
</div>
<div class="kiosk-center-center">
    <div class="kiosk-container-center-center">
        <div id="pausedFlowModal">
            <div id="informationContainer"></div>
            <div id="questionContainer"></div>
        </div>
    </div>
</div>
<div class="kiosk-bottom-left">
    <div class="kiosk-container-bottom-left">
        <button class="kiosk-button-step-control" id="btnNextStep">Next step</button>
        <button class="kiosk-button-step-control" id="btnRestartFlow">Restart flow</button>
    </div>
</div>
<div class="kiosk-bottom-right">
    <div class="kiosk-container-bottom-right">
        <div class="kiosk-input-container">
            <input class="kiosk-input-email" id="inputEmail" type="email" placeholder="Enter email for more info...">
            <button class="kiosk-invite-btn" id="btnEmail">Invite</button>
        </div>
        <p id="errorMsg">&nbsp;</p>
    </div>
</div>

</body>
</html>
<!--JS-->
<script src="/dist/step.entry.js" defer></script>
<!--JS-->