@using Domain.ProjectLogics
@model Flow

@{
    Layout = null;
    ViewData["Title"] = $"Flow {Model.Id}";
}

<!DOCTYPE html>
<!--Author Elias De Hondt-->
<html class="h-100" lang="">
<head>
    <!--Meta + Title-->
    <title>Kiosk - @ViewData["Title"]</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--Meta + Title-->
    <!--CSS-->
    <link rel="stylesheet" href="~/dist/site.css"/>
    <style>
        .kiosk-video {
            position: absolute;
            z-index: 0;
            left: 2.5%;
            width: 95%;
            height: 600px;
            object-fit: cover;
        }

        .kiosk-canvas-detection {
            position: absolute;
            z-index: 1;
            left: 2.5%;
            width: 95%;
            height: 600px;
            object-fit: cover;
        }

        .kiosk-canvas-choices {
            position: absolute;
            z-index: 2;
            left: 2.5%;
            width: 95%;
            height: 600px;
            object-fit: cover;
        }
    </style>
    <!--CSS-->
</head>
<body class="kiosk-background-colors-scheme kiosk-body overflow-hidden">
<div class="modal" id="pausedFlowModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">Flow paused by facilitator!</div>
        </div>
    </div>
</div>
<div class="kiosk-top-left">
    <div id="topLeft" class="kiosk-container-top-left">
        <h1 class="digital-element"><span id="flowtype" class="digital-element">@Model.FlowType.ToString()</span> Flow <span id="flowId" class="digital-element">@Model.Id</span> - Step <span id="stepNr" class="digital-element"></span> / <span id="stepTotal">@Model.getStepCount()</span></h1>
        <div class="digital-element" id="themeDiv">Theme <span id="theme">@Model.Theme.Id</span> - @Model.Theme.Subject</div>
    </div>
</div>
<div class="kiosk-top-right">
    <img class="kiosk-logo-img" src="/favicon.ico" alt="Logo"/>
</div>
<div id="kioskCenter" class="kiosk-center-center">
    <div id="kioskContainerCenter" class="kiosk-container-center-center col">
        <div>
            <div id="informationContainer" class="row"></div>
            <div id="questionContainer" class="row"></div>
            <div id="webcamDiv" class="visually-hidden row">
                <div class="col">
                    <video id="vidInput" class="kiosk-video"></video>
                    <canvas id="canvasDetection" class="kiosk-canvas-detection"></canvas>
                    <canvas id="canvasChoices" class="kiosk-canvas-choices"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="kiosk-bottom-left">
    <div class="kiosk-container-bottom-left digital-element">
        <button class="kiosk-button-step-control" id="btnNextStep">Next step</button>
        <button class="kiosk-button-step-control" id="btnRestartFlow">Restart flow</button>
    </div>
    <div id="timer" class="kiosk-container-bottom-left visually-hidden">

    </div>
</div>
<div class="kiosk-bottom-center">
    <div class="kiosk-container-bottom-center digital-element">
        &copy; @DateTime.Now.Year - CodeForge - <a asp-area="" asp-controller="Home" asp-action="PrivacyPolicy">Privacy Policy</a> - <a asp-area="" asp-controller="Home" asp-action="LegalGuidelines">Legal Guidelines</a>
    </div>
</div>
<div class="kiosk-bottom-right digital-element">
    <div class="kiosk-container-bottom-right">
        <div class="kiosk-input-container">
            <input class="kiosk-input-email" id="inputEmail" type="email" placeholder="Enter email for more info...">
            <button class="kiosk-invite-btn" id="btnEmail">Send</button>
        </div>
        <p id="errorMsg">&nbsp;</p>
    </div>
</div>
</body>
</html>
<!--JS-->
<script src="/dist/flow.entry.js" defer></script>
<!--JS-->